/* Custom Reseter */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Custom Variables */
:root {
  --clr-primary: #5d5fef;
  --clr-thin: #eeefff;

  --clr-black: #000;
  --clr-dark-black: #121221;

  --clr-grey-0: #515151;
  --clr-grey-1: #858585;
  --clr-grey-2: #949494;
  --clr-grey-3: #a3a3a3;
  --clr-grey-4: #cdcdcd;
  --clr-grey-5: #f6f6f6;

  --clr-white: #fff;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--clr-grey-5);
  box-sizing: border-box;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Utilities */

.container {
  width: min(90%, 114rem);
  margin-inline: auto;
}

.current:link,
.current:visited {
  color: var(--clr-primary) !important;
  font-weight: 700;
  position: relative;
}

.current::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 3px;
  background-color: var(--clr-primary);
}

.heading-4 {
  font-size: 1.8rem;
}

.btn {
  font-size: 1.8rem;
  padding: 1rem 1.8rem;
  border-radius: 5px;
}

.btn--fill {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  border: 1px solid transparent;
}

.btn--outline {
  color: var(--clr-primary);
  background-color: transparent;
  border: 1px solid var(--clr-primary);
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.3rem 0;

  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 0.5px;
  width: calc(100% + 8rem);
  background-color: var(--clr-grey-4);
}

.header__logo-name {
  color: var(--clr-primary);
  font-size: 1.6rem;
  font-weight: bold;
}

.header__logo-bg {
  background-color: var(--clr-primary);
  color: #fff;
  border-radius: 4px;
  padding: 1rem;
  display: inline-block;
  margin-right: 1rem;
}

.header__article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.header__link:link,
.header__link:visited {
  color: var(--clr-grey-3);
  font-size: 1.6rem;
}

.header__img-container {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  overflow: hidden;
}

/* Categories */

.categories {
  margin: 2.9rem 0 3.9rem;
}

.categories__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 1.8rem;
}

.categories__link {
  padding: 0.5rem 1rem;
  color: var(--clr-grey-1);
  transition: 0.4s ease-in-out;
}

.categories__link:focus {
  background-color: var(--clr-thin);
  color: var(--clr-primary);
}

/* Category-found */

.category__found {
  background-color: var(--clr-white);
  padding: 2.1rem 1.8rem;
}

/* Category-heading */
.category__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 4rem 0 5.7rem;
}

.category__sort-by {
  margin-right: 1.9rem;
}

.category__select {
  border: 0;
  padding: 1rem;
  font-size: 1.8rem;
  outline: 0;
}

.category__btn:nth-child(2) {
  margin-left: 1rem;
}

/* category__cards-container */
.category__cards-container {
  display: grid;
  grid-template-columns: 24rem 1fr;
  gap: 4rem;
  background-color: var(--clr-white);
  padding: 2rem;
  align-items: center;
}

.category__img {
  border-radius: 1rem;
}
.category__card-title {
  font-weight: 700;
  color: var(--clr-dark-black);
  font-size: 24px;
  margin-bottom: 1rem;
}

.category__text {
  font-size: 1.6rem;
  color: var(--clr-grey-2);
}

.category__text:first-of-type {
  margin-bottom: 2.5rem;
}

.category__text:first-of-type {
  margin-bottom: 1.7rem;
}

.category__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category__publisher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.category__pubisher-img-container {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.category__publisher-name {
  font-size: 1.6rem;
  color: #2b2c34;
}

.category__publish-date {
  color: #718797;
  font-size: 1.4rem;
}

.category__view-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}

.category__view-text {
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--clr-grey-0);
}

.category__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.category__next:link,
.category__next:visited {
  color: var(--clr-primary);
  font-size: 4.5rem;
  font-weight: bold;
  font-family: monospace;
}

/* Media Queries */
/* 675px and below */
@media only screen and (max-width: 42.1875em) {
  html {
    font-size: 50%;
    /* 1rem = 8px */
  }
  .category__heading {
    flex-direction: column;
    gap: 2rem;
    align-items: start;
  }
}
